/*Styles the 1st Header*/
.Lesson1{
  background-color: #00B85C;
  border: 5px solid black;
  width: 30%;
}
b{
 color: #006600;
}
/*Styles the note boxes*/
.Note{
  background-color: #66CCFF ;
  border: 5px solid black;
  padding:10px
}
/*Styles the 2nd header*/
.Lesson2{
  background-color:#AD33FF;
  border: 5px solid black;
  width: 30%;
}
/*Styles the 3rd header*/
.Lesson3{
  background-color: #FF0000;
  border: 5px solid black;
  width: 30%;
}







